@charset "UTF-8";

/* Configuração Gerais */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100vw;
    /* Largura total */
    height: 100vh;
    /* Tamanho total */
    background-color: #233eff;
    /* Cor de fundo */
    background-size: contain; /* Imagem inteira */
    background-repeat: no-repeat; /* Imagem não repete */
}

h1 {
    color: white;
    /* Cor da Fonte */
    text-shadow: 2px 2px 0px #1526a7;
    /* Sombra da letra */
    padding: 10px;
}